* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    color-scheme: light dark;
}

.container {
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}

.fetch-button {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .fetch-button {
    margin-bottom: 10px;
  }
}

h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
